<%- include('partials/header') -%>


<!-- content
================================================== -->
<section class="s-content s-content--single">
    <div class="row">
        <div class="column large-12">

            <article class="s-post entry format-standard">

                <div class="s-content__primary">

                    <h2 class="s-content__title s-content__title--post"><%= post.title%></h2>

                    <ul class="s-content__post-meta">
                        <li class="cat"><a href=""><%= post.author.split("and")[0].split(",")[0]%></a></li>
                        <li class="date"> | </li>
                        <li class="date"><%= post.date%></li>
                    </ul>

                    <div class="s-content__media">
                        <div class="s-content__post-thumb" style="margin-bottom: -6rem; margin-top: -5rem">
                            <img src="<%= post.imageUrl%>"
                                 srcset="<%= post.imageUrl%> 2100w,
                                         <%= post.imageUrl%> 1050w,
                                         <%= post.imageUrl%> 525w" sizes="(max-width: 2100px) 100vw, 2100px" alt="">
                        </div>
                    </div> <!-- end s-content__media -->

                    <p class="lead">
                        <%= post.description%>
                    </p>

                    <% post.content.forEach((paragraph) => { %>
                        <p>
                            <%= paragraph%>
                        </p>
                    <% }); %>


                </div> <!-- end s-content__primary -->
            </article>

        </div> <!-- end column -->
    </div> <!-- end row -->


</section> <!-- end s-content -->





<%- include('partials/footer') -%>